:root {
    --color-base-light: #ECF0F1;
}

* {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    text-decoration: none;
}

html{
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(241deg, #3498DB 0%, #34495E 100%) 0 0 no-repeat padding-box;
}

.login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.login__header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__image {
    height: 18rem;
}

.login__text {
    font: 7em Lato, sans-serif;
    color: var(--color-base-light);
    text-shadow: 4px 4px 8px #00000080;
    margin: 0 40px;
}

.login__input {
    display: flex;
    background: transparent linear-gradient(270deg, #00000040 0%, #00000066 100%) 0 0 no-repeat padding-box;
    width: 500px;
    height: 4rem;
    margin: 0 0 4vh;
    box-shadow: 0 30px 60px #0000004D;
}

.login__input>i {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 4rem;
    height: 4rem;
    color: rgba(236, 240, 241, .6);
}

.login__input>input {
    font: 2em Lato, sans-serif;
    color: var(--color-base-light);
    flex-grow: 1;
}

.login__message {
    font: 1.5em Lato, sans-serif;
    visibility: hidden;
    width: calc(500px - 1rem);
    height: 2rem;
    line-height: 2rem;
    margin: 0 0 4vh;
    box-shadow: 0 30px 60px #0000004D;
    color: var(--color-base-light);
    padding: 0.5rem;
}

.message--error {
    visibility: visible;
    background: transparent linear-gradient(270deg, #C0392B 0%, #8C3B3D 100%) 0 0 no-repeat padding-box;
    text-shadow: 3px 3px 8px #000000;
}

.message--success {
    visibility: visible;
    background: transparent linear-gradient(270deg, #2ecc71 0%, #27ae60 100%) 0 0 no-repeat padding-box;
    text-shadow: 3px 3px 8px #000000;
}

.login__button {
    width: 500px;
    height: 4rem;
    font: 2em Lato, sans-serif;
    color: var(--color-base-light);
    text-shadow: 3px 3px 8px #000000;
    background: transparent linear-gradient(0deg, #D35400 0%, #F1C40F 100%) 0 0 no-repeat padding-box;
    box-shadow: 0 30px 60px #0000004D;
}

.text--orange {
    color: #F1C40F;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.navbar {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse wrap;
    font: 1.5em Lato, sans-serif;
    color: var(--color-base-light);
    line-height: 3.5rem;
}

.navbar__navigation {
    align-self: flex-start;
    display: flex;
    min-width: 55%;
    box-shadow: 0 30px 40px #00000029;
}

.navbar__navigation a {
    color: var(--color-base-light);
    padding: 0 0.5rem;
    display: block;
    text-align: center;
    border-right: 1px solid var(--color-base-light);
}

.navbar__navigation>a:last-child {
    border: none;
}

.navbar__navigation>a:hover {
    background: #8C3B3D;
}

.navbar__text {
    background: #2C3E50;
    flex-grow: 2;
}

.navbar__icon {
    background: #2C3E50;
    flex-grow: 1;
}

.navbar--active {
    background: #C0392B;
}

.navbar__picker {
    display: flex;
    justify-content: center;
    box-shadow: 0 30px 40px #00000029;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    background: #D35400;
}

.select--white {
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    height: 2.5rem;
    background: var(--color-base-light);
    min-width: 10rem;
}

.content {
    margin: 0 3rem 3rem;
    flex-grow: 1;
    background: white;
}



@media only screen and (max-device-width: 600px) {
    html {
        font-size: 24px;
    }

    .login__header {
        flex-direction: column;
    }
    
    .login__text{
        text-align: center;
    }

    .login__input, .login__button {
        width: 75vw;
    }

    .login__message {
        width: calc(75vw - 1rem);
    }
}